# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Environment / secrets
.env
*.env
!.env.example

# dbt
target/
dbt_packages/
logs/
.dbt/
.user.yml

# Airflow
airflow.db
airflow.cfg
airflow-webserver.pid
standalone_admin_password.txt

# Docker
*.pid

# Case docs — keep locally, don't publish (copyrighted brief)
ebury-docs/*.pdf

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
